@inject UserService UserService
@inject NavigationManager NavigationManager
@implements IDisposable
<MudNavMenu>
    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/" Class="text-decoration-none" Icon="@Icons.Material.Filled.Home" Match=NavLinkMatch.All>
            <span class="text-decoration-none">
                Home
            </span>
        </MudNavLink>

        @if (User?.Role == "Admin" || User?.Role == "Staff")
        {
            <MudNavLink Style="text-decoration:none" Href="/dashboard" Class="text-decoration-none" Icon="@Icons.Material.Filled.Dashboard">
                <span class="text-decoration-none">
                    Dashboard
                </span>
            </MudNavLink>
        }
        @if (User?.Username == null)
        {

            <MudNavLink Style="text-decoration:none" Href="/login" Class="text-decoration-none" Icon="@Icons.Material.Filled.Login">
                <span class="text-decoration-none">

                    Login
                </span>
            </MudNavLink>
        }
        @if (User?.Role == "Admin")
        {
            <MudNavLink Style="text-decoration:none" Href="/user" Class="text-decoration-none" Icon="@Icons.Material.Filled.SupervisedUserCircle">
                <span class="text-decoration-none">

                    Employee
                </span>
            </MudNavLink>
        }
        @if (User?.Role == "Admin" || User?.Role == "Staff")
        {
            <MudNavLink Style="text-decoration:none" Href="/sales-report" Class="text-decoration-none" Icon="@Icons.Material.Filled.TrendingUp">
                <span class="text-decoration-none">
                    Sales Report
                </span>
            </MudNavLink>
        }
        @if (User?.Role == "Admin" || User?.Role == "Staff")
        {
            <MudNavLink Style="text-decoration:none" Href="/booking-request" Class="text-decoration-none" Icon="@Icons.Material.Filled.Redeem">
                <span class="text-decoration-none">
                    Booking Requests
                </span>
            </MudNavLink>
        }
        @if (User?.Role == "Admin" || User?.Role == "Staff")
        {
            <MudNavLink Style="text-decoration:none" Href="/car-reports" Class="text-decoration-none" Icon="@Icons.Material.Filled.PieChart">
                <span class="text-decoration-none">
                    Car Reports
                </span>
            </MudNavLink>
        }
        @if (User?.Username != null)
        {
            <MudNavLink Style="text-decoration:none" Href="/my-booking-request" Class="text-decoration-none" Icon="@Icons.Material.Filled.CarRepair">
                <span class="text-decoration-none">

                    My Booking Request
                </span>
            </MudNavLink>
        }
        @if (User?.Username != null)
        {
            <MudNavLink Style="text-decoration:none" Href="/change-password" Class="text-decoration-none" Icon="@Icons.Material.Filled.Password">
                <span class="text-decoration-none">

                    Change Password
                </span>
            </MudNavLink>
        }
        @if (User?.Role == "Customer")
        {
            <MudNavLink Style="text-decoration:none" Href="/damage-record" Class="text-decoration-none" Icon="@Icons.Material.Filled.CarCrash">
                <span class="text-decoration-none">
                    Damage Record
                </span>
            </MudNavLink>
        }
    </MudNavMenu>
</MudNavMenu>

@code{
    [CascadingParameter(Name = "UserInfo")]
    public UserInfo User { get; set; }

    private void Logout()
    {
        UserService.ClearUser();
        NavigationManager.NavigateTo("/login");
    }

    protected override void OnInitialized()
    {
        UserService.OnUserChanged += UpdateNavMenu;
    }

    private void UpdateNavMenu()
    {
        // Refresh the NavMenu when the user logs in or out
        StateHasChanged();
    }

    public void Dispose()
    {
        // Unsubscribe from the event when the component is disposed
        UserService.OnUserChanged -= UpdateNavMenu;
    }
}